{% extends "layout.twig" %}
{% block title 'Mon compte' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/app.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                <a href="edit.html">Modifier Profile</a>
                <a href="{{ path_for('logout') }}">Se deconnecter</a>
                <br>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ session.user.nom }} {{ session.user.prenom }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
                                                                                src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png"
                                                                                class="img-circle img-responsive"></div>

                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Nom</td>
                                        <td>{{ session.user.nom }}</td>
                                    </tr>
                                    <tr>
                                        <td>Prénom</td>
                                        <td>{{ session.user.prenom }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:{{ session.user.mail }}">{{ session.user.mail }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Pseudo</td>
                                        <td>{{ session.user.login }}</td>
                                    </tr>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <form method="POST"
                              action="{{ path_for('manageAccount', {'id': session.user.id }) }}">
                            <button type="submit" name="action" value="edit" class="btn btn-sm btn-warning"><i style="color: whitesmoke" class="fas fa-edit"></i></button>
                            <button type="submit" name="action" value="delete" class="btn btn-sm btn-danger"><i style="color: whitesmoke" class="fas fa-times"></i></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}