{% extends "layout.twig"%}

{% block flash %}
    {% if flash.error is defined %}
        {% for error in flash.error %}
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <strong>Mince!</strong> {{ error | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% if flash.success is defined %}
        {% for success in flash.success %}
            <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <strong>Super!</strong> {{ success | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="jumbotron my-2">
        <h1 class="display-4">Bienvenue!</h1>
        <p class="lead">Charl-Wishlist est un espace sur lequel vous pouvez exprimer toutes vos envies pour ensuite les partager avec ceux que vous aimez. Et si vous êtes en manque d’inspiration pour offrir un cadeau à un ami, vous pourrez également consulter sa liste et ainsi combler ses attentes.</p>
    </div>

    {% if listes is not empty %}
        <div class="body mt-5">
            <h1>Mes listes</h1>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Expiration</th>
                </tr>
                </thead>
                <tbody>
                {% for liste in listes %}
                    <tr onclick="document.location = '{{ path_for('liste', { 'token': liste.token }) }}';">
                        <td>{{ liste.titre }}</td>
                        <td>{{ liste.expiration }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if publiques is not empty %}
        <div class="body mt-5">
            <h1>Listes publiques</h1>
            <table class="table text-center table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Titre</th>
                </tr>
                </thead>
                <tbody>
                {% for liste in publiques %}
                    <tr onclick="document.location = '{{ path_for('liste', { 'token': liste.token }) }}';">
                        <td>{{ liste.titre }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}