{% extends "layout.twig" %}
{% block title 'Objets de la liste' %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/wrench.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
{% endblock %}

{% block content %}
    <section class="jumbotron text-center mt-4">
        <div class="container">
            <i style="display: block;}" class="fas fa-wrench" onclick="document.location = '{{ path_for('listeEditor') }}?token={{ liste.token }}';"></i>
            <h1 class="jumbotron-heading">{{ liste.titre }}</h1>
            <p class="lead text-muted">{{ liste.description }}</p>
            <p class="lead text-muted">{{ liste.expiration|date("d/m/Y") }}</p>
        </div>
    </section>


    <div class="d-flex justify-content-center flex-wrap mb-3">
        {% for item in items %}
        <div class="p-2 bd-highlight">
            <div class="card" style="width: 18rem">
                <img src="assets/img/{{ item.img }}" height=75 class="card-img-top" alt="{{ item.img }}">
                <div class="card-body text-center">
                    <h5 class="text-uppercase font-weight-bold m-auto text-center"><strong>{{ item.nom }}</strong></h5>
                    <p class="card-text text-center">Réservé:

                        {% if  item.reservation > 0 %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </p>

                    <a href="#" class="btn btn-dark">Détails</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}