{% extends "layout.twig" %}
{% block title %}
    {{ item.nom }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/app.css">
{% endblock %}

{% block content %}
    <section class="jumbotron text-center mt-4">
        <div class="container">
            {% if  token == liste.token_edit %}
                <i class="fas fa-wrench"
                   onclick="document.location = '{{ path_for('listeManage') }}?token={{ liste.token }}';"></i>
                <br>
            {% endif %}
            <i class="fas fa-share-alt" id="copie" onclick="copy()"></i>
            <h1 class="jumbotron-heading">{{ liste.titre }}</h1>
            <p class="lead text-muted">{{ liste.description }}</p>
            <p class="lead text-muted">{{ liste.expiration|date("d/m/Y") }}</p>
        </div>
    </section>
    <div class="container mt-4">
        <div class="row">
            <img class="col-sm-4 rounded" style="height: 18rem" src="{{ base_path }}/public/img/{{ item.img }}">
            <div class="col-sm-8 text-center">
                <h5 class="text-uppercase font-weight-bold m-auto text-center"><strong>{{ item.nom }}</strong></h5>
                <p>{{ item.descr }}</p>
                <p><strong>{{ item.tarif }} euros </strong></p>
                {% if item.book %}
                    <div class="alert alert-danger">
                        Cet objet est déjà réservé
                    </div>
                {% else %}
                    <button type="button" class="btn btn-dark">Réserver</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}