{% extends "layout.twig" %}
{% block title %}
    {{ item.nom }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/app.css">
{% endblock %}

{% block content %}
    <section class="jumbotron text-center mt-4">
        <div class="container">
            {% if  token == liste.token_edit %}
                <i class="fas fa-wrench"
                   onclick="document.location = '{{ path_for('listeManage') }}?token={{ liste.token }}';"></i>
                <br>
            {% endif %}
            <i class="fas fa-share-alt" id="copie" onclick="copy()"></i>
            <h1 class="jumbotron-heading">{{ liste.titre }}</h1>
            <p class="lead text-muted">{{ liste.description }}</p>
            <p class="lead text-muted">{{ liste.expiration|date("d/m/Y") }}</p>
        </div>
    </section>
    <div class="container mt-4">
        <div class="row">
            <img class="col-sm-4 rounded" style="height: 18rem" src="{{ base_path }}/public/img/{{ item.img }}">
            <div class="col-sm-8 text-center">
                <h5 class="text-uppercase font-weight-bold m-auto text-center"><strong>{{ item.nom }}</strong></h5>
                <p>{{ item.descr }}</p>
                <p><strong>{{ item.tarif }} euros </strong></p>
                {% if item.book %}
                    <div class="alert alert-danger">
                        Cet objet est déjà réservé
                    </div>
                {% else %}
                    <div class="modal fade" id="reservation" tabindex="-1" role="dialog" aria-labelledby="reserverLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reserverLabel">Réservation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="POST" action="{{ path_for('bookItem', {'id': item.id, 'token': liste.token}) }}">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="inputName">Nom*</label>
                                            <input type="text" name="name" class="form-control" id="inputName" placeholder="Xavier" value="{{ name }}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="textarea">Ajoutez un message à votre réservation</label>
                                            <textarea class="form-control" id="textarea" rows="4" name="message"></textarea>
                                        </div>
                                        Les champs marqués d'un astérisque sont obligatoires.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-dark">Réserver</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#reservation">Réserver</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}