{% extends "layout.twig" %}
{% block title 'Gestion liste' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/font_awesome.css">
{% endblock %}

{% block content %}
    <section class="jumbotron text-center mt-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ liste.titre }}</h1>
            <p class="lead text-muted">{{ liste.description }}</p>
            <p class="lead text-muted">{{ liste.expiration|date("d/m/Y") }}</p>
        </div>
    </section>


    <div class="row">
        <div class="list-group col-2 text-center" id="options" role="tabOptions">
            <a class="btn btn-outline-dark" data-toggle="list" href="#liste" role="tab">Gérer ma liste</a>
            <a class="btn btn-outline-dark mt-2" data-toggle="list" href="#items" role="tab">Gérer mes objets</a>
        </div>

        <div class="tab-content col-10">
            <div class="tab-pane active" id="liste" role="tabpanel">
                <div class="card">
                    <div class="card-header text-center">Gérer ma liste</div>
                    <div class="card-body">
                        <div class="list-group col-3 text-center" id="listOptions" role="tablist">
                            <a class="btn btn-dark" href="">Modifier la liste</a>
                            <a class="btn btn-danger mt-2"
                               href="{{ path_for('deleteListe', { 'token': liste.token}) }}">Supprimer la liste</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="items" role="tabpanel">
                {% for item in items %}
                    <a data-toggle="modal" data-target="#modification">
                        <div id="itemListed" class="card my-3">
                            <div class="card-body">
                                <img src="{{ base_path }}/public/img/{{ item.img }}" width="70" height="70"
                                     class="rounded-top"
                                     alt="{{ item.img }}">
                                <span style="font-size: 22px; margin-left: 1em;">{{ item.nom }}</span>
                                <span style="margin-left: 1em;">{{ item.tarif }}€</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <div class="modal fade" id="modification" tabindex="-1" role="dialog" aria-labelledby="modifierLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modifierLabel">Modifier objet</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST"
                              action="{{ path_for('editItem', {'id': item.id, 'token': liste.token}) }}">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputName">Nom*</label>
                                    <input type="text" name="name" class="form-control" id="inputName"
                                           placeholder="" value="{{ item.nom }}" required>
                                </div>
                                <div class="form-group">
                                    <label for="textarea">Description de l'objet</label>
                                    <textarea class="form-control" id="textarea" rows="4"
                                              name="message">{{ item.descr }}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="inputImg">Image</label>
                                    <input class="form-control" type="text" name="img" value="{{ item.img }}">
                                </div>
                                <div class="form-group">
                                    <label for="inputUrl">Lien externe</label>
                                    <input class="form-control" type="url" name="url" value="{{ item.url }}"></div>
                                Les champs marqués d'un astérisque sont obligatoires.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer
                                </button>
                                <a class="btn btn-danger mt-2"
                                   href="{{ path_for('deleteItem', {'id': item.id, 'token': liste.token}) }}">Supprimer</a>
                                <button type="submit" class="btn btn-dark">Modifier</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}