{% extends "layout.twig" %}
{% block title 'Objets de la liste' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/app.css">
{% endblock %}

{% block content %}
    <section class="jumbotron text-center mt-4">
        <div class="container">
            {% if  token != "" %}
                <i class="fas fa-wrench"
                   onclick="document.location = '{{ path_for('listeManage', { 'token': liste.token }) }}';"></i>
                <br>
                <i class="fas fa-plus"
                   onclick="document.location = '{{ path_for('itemManage', { 'token': liste.token }) }}';"></i>
                <br>
            {% endif %}
            <h1 class="jumbotron-heading">{{ liste.titre }}</h1>
            <p class="lead text-muted">{{ liste.description }}</p>
            <p class="lead text-muted">{{ liste.expiration|date("d/m/Y") }}</p>
        </div>
    </section>


    <div class="d-flex justify-content-center flex-wrap mb-3">
        {% for item in items %}
            <div class="p-2 bd-highlight">
                <div class="card" style="width: 18rem">
                    <img src="{{ base_path }}/public/img/{{ item.img }}" class="card-img-top" alt="{{ item.img }}">
                    <div class="card-body text-center">
                        <h5 class="text-uppercase font-weight-bold m-auto text-center"><strong>{{ item.nom }}</strong>
                        </h5>
                        <p class="card-text text-center">Réservé:
                            {% if item.book == true %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </p>
                        {% if  token != "" %}
                            {% if  item.reservation <= 0 %}
                                <i id="item-editor" class="fas fa-wrench"
                                   onclick="document.location = '{{ path_for('itemManage', { 'token': liste.token, 'id': item.id }) }}';"></i>
                                <i id="item-delete" class="fas fa-trash-alt"
                                   onclick="document.location = '{{ path_for('itemDelete', { 'id': item.id}) }}';"></i>
                            {% endif %}
                        {% endif %}
                        <a href="{{ path_for('item', {'token': liste.token, 'id': item.id}) }}" class="btn btn-dark">Détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}