{% extends "layout.twig" %}
{% block title 'Objets de la liste' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/app.css">
{% endblock %}

{% block content %}
    <section class="jumbotron text-center mt-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ liste.titre }}</h1>
            <p class="lead text-muted">{{ liste.description }}</p>
            <p class="lead text-muted">{{ liste.expiration|date("d/m/Y") }}</p>
            {% if creator == true %}
                <a href="{{ path_for('formListeAdmin', { 'token': liste.token, 'token_edit': liste.token_edit }) }}" class="btn btn-outline-dark float-right">Administrer</a>
            {% endif %}
            {% if expiration==false %}
                <button class="ml-auto btn btn-outline-dark btn-sm float-left" data-toggle="modal" data-target="#redigerMessage" role="button">
                    Rédiger un message
                </button>
            {% endif %}
        </div>
    </section>

    <div class="modal fade" id="redigerMessage" tabindex="-1" role="dialog" aria-labelledby="redigerMessageLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{{ path_for('addMessage', {'token': liste.token})  }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputName">Nom*</label>
                            <input type="text" name="name" class="form-control" id="inputName" placeholder="Votre nom" value="{{ name }}">
                        </div>
                        <div class="form-group">
                            <label for="inputMessage">Message*</label>
                            <textarea class="form-control" id="inputMessage" rows="4" name="message"></textarea>
                        </div>
                        Les champs marqués d'un astérisque sont obligatoires.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center flex-wrap mb-3">
        {% for item in items %}
            <div class="p-2 bd-highlight">
                <div class="card" style="width: 18rem">
                    <img src="{{ base_path }}/public/img/{{ item.img }}" class="card-img-top rounded-top" alt="{{ item.img }}">
                    <div class="card-body text-center">
                        <h5 class="text-uppercase font-weight-bold m-auto text-center"><strong>{{ item.nom }}</strong>
                        </h5>
                        <p class="card-text">
                            {% if expiration==true %}
                                {% if item.book==true %}
                                    <span class="card-text badge badge-danger">Reservé par {{ item.name }}</span>
                                {% else %}
                                    <span class="card-text badge badge-dark">Expiré</span>
                                {% endif %}
                            {% else %}
                                {%  if creator and item.book %}
                                    <span class="card-text badge badge-danger">Reservé</span>
                                {% elseif item.book==true %}
                                    <span class="card-text badge badge-danger">Reservé par {{ item.name }}</span>
                                {% else %}
                                    <span class="card-text badge badge-secondary">{{ item.tarif }} €</span>
                                    <span class="card-text badge badge-success">Disponible</span>
                                {% endif %}
                            {% endif %}
                        </p>
                        {% if  token != "" %}
                            {% if  item.reservation <= 0 %}
                                <i id="item-editor" class="fas fa-wrench"
                                   onclick="document.location = '{{ path_for('itemManage', { 'token': liste.token, 'id': item.id }) }}';"></i>
                                <i id="item-delete" class="fas fa-trash-alt"
                                   onclick="document.location = '{{ path_for('itemDelete', { 'id': item.id}) }}';"></i>
                            {% endif %}
                        {% endif %}
                        <a href="{{ path_for('item', {'token': liste.token, 'id': item.id}) }}" class="btn btn-dark">Détails</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="m-auto">
        {% for message in messages %}
            <div class="card my-3">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>{{ message.message }}</p>
                        <footer class="blockquote-footer">{{ message.expediteur }}</footer>
                    </blockquote>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}