{% extends "layout.twig" %}
{% block title 'Gestion liste' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/font_awesome.css">
{% endblock %}

{% block content %}
    <section class="jumbotron text-center mt-4">
        <div class="container">
            <i class="fas fa-wrench"></i>
            <h1 class="jumbotron-heading">{{ liste.titre }}</h1>
            <p class="lead text-muted">{{ liste.description }}</p>
            <p class="lead text-muted">{{ liste.expiration|date("d/m/Y") }}</p>
        </div>
    </section>


    {% for item in items %}
        <div class="card my-3">
            <div class="card-body">
                <img src="{{ base_path }}/public/img/{{ item.img }}" width="70" height="70" class="rounded-top" alt="{{ item.img }}">
                <span style="font-size: 22px; margin-left: 1em;">{{ item.nom }}</span>
                <span style="margin-left: 1em;">{{ item.tarif }}€</span>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="list-group col-2 text-center" id="options" role="tabOptions">
            <a class="btn btn-outline-dark" data-toggle="list" href="#liste" role="tab">Gérer ma liste</a>
            <a class="btn btn-outline-dark mt-2" data-toggle="list" href="#items" role="tab">Gérer mes objets</a>
        </div>

        <div class="tab-content col-10">
            <div class="tab-pane active" id="liste" role="tabpanel">
                <div class="card">
                    <div class="card-header text-center">Gérer ma liste</div>
                    <div class="card-body">
                        <div class="list-group col-3 text-center" id="listOptions" role="tablist">
                            <a class="btn btn-dark" data-toggle="list" href="#modifListe" role="tab">Modifier la liste</a>
                            <a class="btn btn-danger mt-2" data-toggle="list" href="#deleteListe" role="tab">Supprimer la liste</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="items" role="tabpanel">2</div>
        </div>
    </div>
{% endblock %}