{% extends "layout.twig" %}
{% block title 'Connexion' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/app.css">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/login.css" id="bootstrap-css">
{% endblock %}

{% block content %}
    {% if flash.error is defined %}
        {% for error in flash.error %}
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <strong>Mince!</strong> {{ error | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% if flash.success is defined %}
        {% for success in flash.success %}
            <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <strong>Super!</strong> {{ success | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <div id="loginbox" style="margin-top:50px;"
             class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Se connecter</div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form" method="post" action="{{ path_for("sendLogin") }}" >
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="fas fa-user"></i></span>
                            <input id="login-username" type="text" class="form-control" name="username" value=""
                                   placeholder="adresse email">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password"
                                   placeholder="mot de passe">
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls">
                                <a id="btn-login" href="#" class="btn btn-success">Se connecter </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Vous n'avez pas encore de compte?
                                    <a href="{{ path_for("inscription") }}">
                                        Créer un compte
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
