{% extends "layout.twig" %}
{% block title 'Inscription' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/app.css">
{% endblock %}

{% block content %}
    {% if flash.error is defined %}
        {% for error in flash.error %}
            <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                <strong>Mince!</strong> {{ error | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    {% if flash.success is defined %}
        {% for success in flash.success %}
            <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                <strong>Super!</strong> {{ success | raw }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="card mt-3 ml-auto mr-auto" style="max-width: 32rem; min-width: 25rem;">
        <div class="card-header text-white bg-dark">
            Inscription
        </div>
        <div class="card-body">
            <form id="registerform" class="form-horizontal" role="form" method="post"
                  action="{{ path_for("sendInscription") }}">
                <div class="mb-3">
                    <div class="form-group">
                        <label for="register-email">Email</label>
                        <input type="email" class="form-control" id="register-email" name="email"
                               placeholder="Adresse Email" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Adresse email valide requis.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="register-pseudo">Pseudo</label>
                        <input type="text" class="form-control" id="register-pseudo" name="pseudo" placeholder="Pseudo"
                               required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Pseudo requis.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="register-prenom">Prénom</label>
                        <input type="text" class="form-control" id="register-prenom" name="prenom" placeholder="Prénom"
                               required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Prénom requis.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="register-nom">Nom</label>
                        <input type="text" class="form-control" id="register-nom" name="nom" placeholder="Nom" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Nom requis.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="register-password">Mot de passe</label>
                        <input type="password" class="form-control" id="register-password" name="password"
                               placeholder="Mot de Passe" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Mot de passe requis.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label for="register-password">Confirmer le Mot de passe</label>
                        <input type="password" class="form-control" id="register-password" name="passwordconfirm"
                               placeholder="Mot de Passe" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Mot de passe requis.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 control">
                        <button class="btn btn-success btn-block" type="submit">S'inscrire</button>
                        <small class="form-text text-muted">
                            Vous avez déjà un compte ? <a href="{{ path_for("inscriptionPage") }}">Je me connecte</a>
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
