<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image" href="{{ base_path }}/public/img/w.png">
    <link rel="stylesheet" type="text/css" href="{{ base_path }}/public/css/bootstrap.min.css">

    {% block stylesheets %}

    {% endblock %}

    <title>{% block title %}WishList{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path_for('home') }}"><i class="fas fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link {{ current_page == 'creer_liste' ? 'active': '' }}" href="{{ path_for('createListe') }}">
                    Créer une liste
                </a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand" href="{{ path_for('loginPage') }}"><i class="fas fa-sign-in-alt"></i></a>

</nav>
<div class="container">
    {% block flash %}{% endblock %}
    {% block content %}{% endblock %}
</div>

<script type="text/javascript" src="{{ base_path }}/public/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/public/js/popper.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/public/js/all.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>